node-red-code.json
[{"id":"b6f0118c.e6a14","type":"tab","label":"Digital Media Library (AS Tech-Workshop)","disabled":false,"info":""},{"id":"69e7e5ba.cf595c","type":"rc522","z":"b6f0118c.e6a14","name":"","blockedFor":5,"x":110,"y":60,"wires":[["debe4bc4.727388","d657f595.b9c838","14963a7c.6bbbb6"]]},{"id":"12a6d2f7.d1cead","type":"csv","z":"b6f0118c.e6a14","name":"CSV File","sep":"=","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":"ID,LINK","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":520,"y":100,"wires":[["5bbd40ed.be5d7"]]},{"id":"debe4bc4.727388","type":"file in","z":"b6f0118c.e6a14","name":"Input Mapping File","filename":"/home/pi/rfid_media_mapping.csv","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":350,"y":100,"wires":[["12a6d2f7.d1cead"]]},{"id":"d657f595.b9c838","type":"function","z":"b6f0118c.e6a14","name":"Get card uid","func":"var id = msg.payload.uid;\nmsg.payload = {\n    uid:id\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":40,"wires":[["5bbd40ed.be5d7"]]},{"id":"5bbd40ed.be5d7","type":"join","z":"b6f0118c.e6a14","name":"Join RFID + CSV File Payload","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":610,"y":40,"wires":[["814bda99.3258e8"]]},{"id":"814bda99.3258e8","type":"function","z":"b6f0118c.e6a14","name":"Output Media Details","func":"let card_id = msg.payload[0].uid;\nlet csv_data_array = msg.payload[1];\nvar target_list = \"\";\n\nfor (let i = 0; i <csv_data_array.length; i++) {\n    let id = csv_data_array[i].ID;\n    if (id == card_id){\n        target_list = csv_data_array[i].LINK;\n        break;\n    }\n}\nlet target = [];\ntarget = target_list.split(\",\");\nmsg.payload = {\n    MediaFormat: target[0],\n    source: target[1]\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":40,"wires":[["5272a6d.84b3858"]]},{"id":"1fd52e1f.630f22","type":"exec","z":"b6f0118c.e6a14","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":850,"y":160,"wires":[["b8f9c0b0.83542"],[],[]]},{"id":"b0590524.698458","type":"function","z":"b6f0118c.e6a14","name":"video play func","func":"flow.set('app','');\nlet media_arr = [];\nmedia_arr.push({\"url\":\"http://192.168.0.3/videos/\"+msg.payload.source});\n\nmsg.payload = {\n    app:\"DefaultMediaReceiver\",\n    type:\"MEDIA\",\n    media:media_arr\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":260,"wires":[["d7aa3e1a.874bc"]]},{"id":"63663e59.a36ae","type":"function","z":"b6f0118c.e6a14","name":"get audio list func","func":"var dir = msg.payload.source\nflow.set('source_dir',dir);\nmsg.payload = \"bash exec.sh \"+dir\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":160,"wires":[["1fd52e1f.630f22"]]},{"id":"5272a6d.84b3858","type":"switch","z":"b6f0118c.e6a14","name":"FormatCheck","property":"payload.MediaFormat","propertyType":"msg","rules":[{"t":"eq","v":"audio","vt":"str"},{"t":"eq","v":"video","vt":"str"},{"t":"eq","v":"YouTube","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":260,"y":180,"wires":[["63663e59.a36ae"],["b0590524.698458"],["399e772b.78f648"]]},{"id":"d7aa3e1a.874bc","type":"castv2-sender","z":"b6f0118c.e6a14","name":"","connection":"dc27864d.2ce758","spotifyAccessToken":"","spotifyAccessTokenExpiration":"","spotifyDeviceName":"","x":800,"y":260,"wires":[["1e962e27.00ddc2"]]},{"id":"b8f9c0b0.83542","type":"function","z":"b6f0118c.e6a14","name":"audio playlist func","func":"flow.set('app','');\nlet songs = msg.payload.split(\",\");\nlet media_arr = [];\nfor(i = 0; i<songs.length; i++){\n    media_arr.push({\"url\":\"http://192.168.0.3/\"+flow.get('source_dir')+\"/\"+songs[i].replace(' ','')});\n}\nmsg.payload = {\n    app:\"DefaultMediaReceiver\",\n    type:\"MEDIA\",\n    media:[]\n}\nmsg.payload.media = media_arr;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":220,"wires":[["d7aa3e1a.874bc"]]},{"id":"399e772b.78f648","type":"function","z":"b6f0118c.e6a14","name":"YuoTube Func","func":"var video_Id = msg.payload.source;\nflow.set('app','YouTube');\nmsg.payload = {\n    app: \"YouTube\",\n    type: \"MEDIA\",\n    videoId: video_Id\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":300,"wires":[["d7aa3e1a.874bc"]]},{"id":"224532e0.74fd0e","type":"ui_slider","z":"b6f0118c.e6a14","name":"","label":"Volume","tooltip":"","group":"84506ccb.a97fe","order":4,"width":7,"height":1,"passthru":true,"outs":"end","topic":"","min":0,"max":"100","step":1,"x":400,"y":460,"wires":[["2ce4c114.5bbcce"]]},{"id":"2ce4c114.5bbcce","type":"function","z":"b6f0118c.e6a14","name":"Volume Payload","func":"var vol = msg.payload;\nmsg.payload = {\n    type: \"VOLUME\",\n    volume: vol // 0 to 100\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":460,"wires":[["fd3e5c1.6c155a"]]},{"id":"14963a7c.6bbbb6","type":"function","z":"b6f0118c.e6a14","name":"Setting Initial Volume","func":"msg.payload = 15;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":400,"wires":[["224532e0.74fd0e"]]},{"id":"6f9d29f5.b67c98","type":"ui_button","z":"b6f0118c.e6a14","name":"","group":"84506ccb.a97fe","order":5,"width":3,"height":1,"passthru":false,"label":"Stop Casting","tooltip":"","color":"","bgcolor":"red","icon":"mi-stop","payload":"{    \"type\": \"STOP\"    }","payloadType":"json","topic":"","x":410,"y":500,"wires":[["d7aa3e1a.874bc","8f816b6.9996a98","fd3e5c1.6c155a"]]},{"id":"a2f5d7df.b53e58","type":"ui_button","z":"b6f0118c.e6a14","name":"","group":"84506ccb.a97fe","order":7,"width":3,"height":1,"passthru":false,"label":"Close","tooltip":"","color":"","bgcolor":"#6D271C","icon":"mi-not_interested","payload":"{\"type\": \"CLOSE\"}","payloadType":"json","topic":"","x":390,"y":540,"wires":[["8f816b6.9996a98","fd3e5c1.6c155a"]]},{"id":"6c25b0bb.1df74","type":"ui_button","z":"b6f0118c.e6a14","name":"","group":"84506ccb.a97fe","order":8,"width":3,"height":1,"passthru":false,"label":"Play","tooltip":"","color":"","bgcolor":"Green","icon":"mi-play_arrow","payload":"{    \"type\": \"PLAY\"    }","payloadType":"json","topic":"","x":390,"y":580,"wires":[["fd3e5c1.6c155a"]]},{"id":"6a60cd4d.1520e4","type":"ui_button","z":"b6f0118c.e6a14","name":"","group":"84506ccb.a97fe","order":10,"width":3,"height":1,"passthru":false,"label":"Pause","tooltip":"","color":"","bgcolor":"#C0A409","icon":"mi-pause","payload":"{    \"type\": \"PAUSE\"    }","payloadType":"json","topic":"","x":390,"y":620,"wires":[["fd3e5c1.6c155a"]]},{"id":"23fe8449.4bc4fc","type":"ui_button","z":"b6f0118c.e6a14","name":"forward_5","group":"84506ccb.a97fe","order":12,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#333BFF","icon":"mi-forward_5","payload":"{\"type\":\"SEEK_DELTA\",\"time\":5}","payloadType":"json","topic":"","x":400,"y":660,"wires":[["6d526377.1fa22c"]]},{"id":"c991965.772d868","type":"ui_button","z":"b6f0118c.e6a14","name":"","group":"84506ccb.a97fe","order":15,"width":2,"height":1,"passthru":false,"label":"Next","tooltip":"","color":"","bgcolor":"#03524C","icon":"mi-skip_next","payload":"NEXT","payloadType":"str","topic":"","x":390,"y":780,"wires":[["6d526377.1fa22c"]]},{"id":"60ace8b.a1e4418","type":"ui_button","z":"b6f0118c.e6a14","name":"","group":"84506ccb.a97fe","order":14,"width":2,"height":1,"passthru":false,"label":"Prev","tooltip":"","color":"","bgcolor":"#B404A3","icon":"mi-skip_previous","payload":"PREV","payloadType":"str","topic":"","x":390,"y":740,"wires":[["6d526377.1fa22c"]]},{"id":"1e962e27.00ddc2","type":"function","z":"b6f0118c.e6a14","name":"Output Display Status","func":"var state = msg.payload.playerState;\nvar content = msg.payload.media.metadata.title;\nmsg.payload = {\n    state: state,\n    content: content\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":340,"wires":[["4dd556cc.57cdb8","81f0b4c6.84f458"]]},{"id":"cf47d432.ded608","type":"simplecast","z":"b6f0118c.e6a14","name":"","host":"192.168.0.5","x":1050,"y":580,"wires":[["1e962e27.00ddc2"]]},{"id":"90b0ee4b.89519","type":"ui_button","z":"b6f0118c.e6a14","name":"Rewind_5","group":"84506ccb.a97fe","order":11,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"mi-replay_5","payload":"{\"type\":\"SEEK_DELTA\",\"time\":-5}","payloadType":"json","topic":"","x":400,"y":700,"wires":[["6d526377.1fa22c"]]},{"id":"4dd556cc.57cdb8","type":"ui_text","z":"b6f0118c.e6a14","group":"84506ccb.a97fe","order":2,"width":0,"height":0,"name":"","label":"Media Name:","format":"{{msg.payload.content}}","layout":"col-center","x":1150,"y":340,"wires":[]},{"id":"56ecc20a.ae6c0c","type":"comment","z":"b6f0118c.e6a14","name":"","info":"This casting node is for playing media files. This node support playing finels from loacl drive (using HTTP Server) and videos from YouTube.","x":920,"y":240,"wires":[]},{"id":"d2f8eb16.701ac8","type":"comment","z":"b6f0118c.e6a14","name":"","info":"This casting node is used for controlling chromecast device. This has better command line and features for controlling chromecast device compare to the other casting node.","x":1160,"y":560,"wires":[]},{"id":"81f0b4c6.84f458","type":"ui_text","z":"b6f0118c.e6a14","group":"84506ccb.a97fe","order":1,"width":0,"height":0,"name":"","label":"Chromecast Status:","format":"{{msg.payload.state}}","layout":"row-spread","x":1130,"y":300,"wires":[]},{"id":"8f816b6.9996a98","type":"function","z":"b6f0118c.e6a14","name":"Stop/Close output status","func":"msg.payload = {\n    state: 'STOPPED',\n    content: '--'\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":460,"wires":[["81f0b4c6.84f458","4dd556cc.57cdb8"]]},{"id":"fd3e5c1.6c155a","type":"switch","z":"b6f0118c.e6a14","name":"Switching YouTube control","property":"app","propertyType":"flow","rules":[{"t":"eq","v":"YouTube","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":560,"wires":[["d7aa3e1a.874bc"],["cf47d432.ded608"]]},{"id":"6d526377.1fa22c","type":"switch","z":"b6f0118c.e6a14","name":"Switching Non-YouTube Control","property":"app","propertyType":"flow","rules":[{"t":"eq","v":"YouTube","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":620,"wires":[[],["cf47d432.ded608"]]},{"id":"dc27864d.2ce758","type":"castv2-connection","name":"","target":"","host":"192.168.0.5","port":"8009"},{"id":"84506ccb.a97fe","type":"ui_group","name":"Chromecast Control","tab":"affd889.0148e78","order":1,"disp":true,"width":"7","collapse":false},{"id":"affd889.0148e78","type":"ui_tab","name":"Media Control","icon":"dashboard","disabled":false,"hidden":false}]
