node-red-code.json
[{"id":"d6d5f307.86225","type":"tab","label":"Digital Media Library (AS Tech-Workshop)","disabled":false,"info":""},{"id":"e18fefc5.55526","type":"rc522","z":"d6d5f307.86225","name":"","blockedFor":5,"x":110,"y":60,"wires":[["9780bee4.fe828","32377744.b50c88","ce279918.51bfb8"]]},{"id":"4442267.38063d8","type":"csv","z":"d6d5f307.86225","name":"CSV File","sep":"=","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":"ID,LINK","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":520,"y":100,"wires":[["bd7fca31.d322b8"]]},{"id":"9780bee4.fe828","type":"file in","z":"d6d5f307.86225","name":"Input Mapping File","filename":"/home/pi/mapping.csv","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":350,"y":100,"wires":[["4442267.38063d8"]]},{"id":"32377744.b50c88","type":"function","z":"d6d5f307.86225","name":"Get card uid","func":"var id = msg.payload.uid;\nmsg.payload = {\n    uid:id\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":40,"wires":[["bd7fca31.d322b8"]]},{"id":"bd7fca31.d322b8","type":"join","z":"d6d5f307.86225","name":"Join RFID + CSV File Payload","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":610,"y":40,"wires":[["d9e54ead.81835"]]},{"id":"d9e54ead.81835","type":"function","z":"d6d5f307.86225","name":"Output Media Details","func":"let card_id = msg.payload[0].uid;\nlet csv_data_array = msg.payload[1];\nvar target_list = \"\";\n\nfor (let i = 0; i <csv_data_array.length; i++) {\n    let id = csv_data_array[i].ID;\n    if (id == card_id){\n        target_list = csv_data_array[i].LINK;\n        break;\n    }\n}\nlet target = [];\ntarget = target_list.split(\",\");\nmsg.payload = {\n    MediaFormat: target[0],\n    source: target[1]\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":40,"wires":[["73b0c01.8c2b04"]]},{"id":"8a5143de.0d993","type":"exec","z":"d6d5f307.86225","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":850,"y":160,"wires":[["e68e1c0c.1b137"],[],[]]},{"id":"9422ef8f.99731","type":"function","z":"d6d5f307.86225","name":"video play func","func":"flow.set('app','');\nlet media_arr = [];\nmedia_arr.push({\"url\":\"http://192.168.0.3/videos/\"+msg.payload.source});\n\nmsg.payload = {\n    app:\"DefaultMediaReceiver\",\n    type:\"MEDIA\",\n    media:media_arr\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":260,"wires":[["d81ab33f.78511"]]},{"id":"9350531a.b4905","type":"function","z":"d6d5f307.86225","name":"get audio list func","func":"var dir = msg.payload.source\nflow.set('source_dir',dir);\nmsg.payload = \"bash exec.sh \"+dir\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":160,"wires":[["8a5143de.0d993"]]},{"id":"73b0c01.8c2b04","type":"switch","z":"d6d5f307.86225","name":"FormatCheck","property":"payload.MediaFormat","propertyType":"msg","rules":[{"t":"eq","v":"audio","vt":"str"},{"t":"eq","v":"video","vt":"str"},{"t":"eq","v":"YouTube","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":260,"y":180,"wires":[["9350531a.b4905"],["9422ef8f.99731"],["5d0646c7.c8e6b8"]]},{"id":"d81ab33f.78511","type":"castv2-sender","z":"d6d5f307.86225","name":"","connection":"dc27864d.2ce758","spotifyAccessToken":"","spotifyAccessTokenExpiration":"","spotifyDeviceName":"","x":800,"y":260,"wires":[["fcb0c95d.b01388"]]},{"id":"e68e1c0c.1b137","type":"function","z":"d6d5f307.86225","name":"audio playlist func","func":"flow.set('app','');\nlet songs = msg.payload.split(\",\");\nlet media_arr = [];\nfor(i = 0; i<songs.length; i++){\n    media_arr.push({\"url\":\"http://192.168.0.3/\"+flow.get('source_dir')+\"/\"+songs[i].replace(' ','')});\n}\nmsg.payload = {\n    app:\"DefaultMediaReceiver\",\n    type:\"MEDIA\",\n    media:[]\n}\nmsg.payload.media = media_arr;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":220,"wires":[["d81ab33f.78511"]]},{"id":"5d0646c7.c8e6b8","type":"function","z":"d6d5f307.86225","name":"YuoTube Func","func":"var video_Id = msg.payload.source;\nflow.set('app','YouTube');\nmsg.payload = {\n    app: \"YouTube\",\n    type: \"MEDIA\",\n    videoId: video_Id\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":300,"wires":[["d81ab33f.78511"]]},{"id":"729f2f92.bbb1e","type":"ui_slider","z":"d6d5f307.86225","name":"","label":"Volume","tooltip":"","group":"84506ccb.a97fe","order":4,"width":7,"height":1,"passthru":true,"outs":"end","topic":"","min":0,"max":"100","step":1,"x":400,"y":460,"wires":[["30b7643f.2b7e0c"]]},{"id":"30b7643f.2b7e0c","type":"function","z":"d6d5f307.86225","name":"Volume Payload","func":"var vol = msg.payload;\nmsg.payload = {\n    type: \"VOLUME\",\n    volume: vol // 0 to 100\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":460,"wires":[["dab7c2b3.b7bff"]]},{"id":"ce279918.51bfb8","type":"function","z":"d6d5f307.86225","name":"Setting Initial Volume","func":"msg.payload = 15;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":400,"wires":[["729f2f92.bbb1e"]]},{"id":"7b2a8f0b.f8f01","type":"ui_button","z":"d6d5f307.86225","name":"","group":"84506ccb.a97fe","order":5,"width":3,"height":1,"passthru":false,"label":"Stop Casting","tooltip":"","color":"","bgcolor":"red","icon":"mi-stop","payload":"{    \"type\": \"STOP\"    }","payloadType":"json","topic":"","x":410,"y":500,"wires":[["d81ab33f.78511","b6dc41f6.8cd68","dab7c2b3.b7bff"]]},{"id":"1d9fc152.077bef","type":"ui_button","z":"d6d5f307.86225","name":"","group":"84506ccb.a97fe","order":7,"width":3,"height":1,"passthru":false,"label":"Close","tooltip":"","color":"","bgcolor":"#6D271C","icon":"mi-not_interested","payload":"{\"type\": \"CLOSE\"}","payloadType":"json","topic":"","x":390,"y":540,"wires":[["b6dc41f6.8cd68","dab7c2b3.b7bff"]]},{"id":"4703c444.266ebc","type":"ui_button","z":"d6d5f307.86225","name":"","group":"84506ccb.a97fe","order":8,"width":3,"height":1,"passthru":false,"label":"Play","tooltip":"","color":"","bgcolor":"Green","icon":"mi-play_arrow","payload":"{    \"type\": \"PLAY\"    }","payloadType":"json","topic":"","x":390,"y":580,"wires":[["dab7c2b3.b7bff"]]},{"id":"c490f73c.552de8","type":"ui_button","z":"d6d5f307.86225","name":"","group":"84506ccb.a97fe","order":10,"width":3,"height":1,"passthru":false,"label":"Pause","tooltip":"","color":"","bgcolor":"#C0A409","icon":"mi-pause","payload":"{    \"type\": \"PAUSE\"    }","payloadType":"json","topic":"","x":390,"y":620,"wires":[["dab7c2b3.b7bff"]]},{"id":"54206bb0.1211e4","type":"ui_button","z":"d6d5f307.86225","name":"forward_5","group":"84506ccb.a97fe","order":12,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#333BFF","icon":"mi-forward_5","payload":"{\"type\":\"SEEK_DELTA\",\"time\":5}","payloadType":"json","topic":"","x":400,"y":660,"wires":[["6d8ffe04.5b068"]]},{"id":"aa722875.db8728","type":"ui_button","z":"d6d5f307.86225","name":"","group":"84506ccb.a97fe","order":15,"width":2,"height":1,"passthru":false,"label":"Next","tooltip":"","color":"","bgcolor":"#03524C","icon":"mi-skip_next","payload":"NEXT","payloadType":"str","topic":"","x":390,"y":780,"wires":[["6d8ffe04.5b068"]]},{"id":"f814aa0c.9518f8","type":"ui_button","z":"d6d5f307.86225","name":"","group":"84506ccb.a97fe","order":14,"width":2,"height":1,"passthru":false,"label":"Prev","tooltip":"","color":"","bgcolor":"#B404A3","icon":"mi-skip_previous","payload":"PREV","payloadType":"str","topic":"","x":390,"y":740,"wires":[["6d8ffe04.5b068"]]},{"id":"fcb0c95d.b01388","type":"function","z":"d6d5f307.86225","name":"Output Display Status","func":"var state = msg.payload.playerState;\nvar content = msg.payload.media.metadata.title;\nmsg.payload = {\n    state: state,\n    content: content\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":340,"wires":[["5ec6578.23960a8","35a2f909.a44026"]]},{"id":"f6c4c3e4.ca80f","type":"simplecast","z":"d6d5f307.86225","name":"","host":"192.168.0.5","x":1050,"y":580,"wires":[["fcb0c95d.b01388"]]},{"id":"48bc3886.47b238","type":"ui_button","z":"d6d5f307.86225","name":"Rewind_5","group":"84506ccb.a97fe","order":11,"width":1,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"mi-replay_5","payload":"{\"type\":\"SEEK_DELTA\",\"time\":-5}","payloadType":"json","topic":"","x":400,"y":700,"wires":[["6d8ffe04.5b068"]]},{"id":"5ec6578.23960a8","type":"ui_text","z":"d6d5f307.86225","group":"84506ccb.a97fe","order":2,"width":0,"height":0,"name":"","label":"Media Name:","format":"{{msg.payload.content}}","layout":"col-center","x":1150,"y":340,"wires":[]},{"id":"c9911709.b94788","type":"comment","z":"d6d5f307.86225","name":"","info":"This casting node is for playing media files. This node support playing finels from loacl drive (using HTTP Server) and videos from YouTube.","x":920,"y":240,"wires":[]},{"id":"785f4768.cc46e8","type":"comment","z":"d6d5f307.86225","name":"","info":"This casting node is used for controlling chromecast device. This has better command line and features for controlling chromecast device compare to the other casting node.","x":1160,"y":560,"wires":[]},{"id":"35a2f909.a44026","type":"ui_text","z":"d6d5f307.86225","group":"84506ccb.a97fe","order":1,"width":0,"height":0,"name":"","label":"Chromecast Status:","format":"{{msg.payload.state}}","layout":"row-spread","x":1130,"y":300,"wires":[]},{"id":"b6dc41f6.8cd68","type":"function","z":"d6d5f307.86225","name":"Stop/Close output status","func":"msg.payload = {\n    state: 'STOPPED',\n    content: '--'\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":460,"wires":[["35a2f909.a44026","5ec6578.23960a8"]]},{"id":"dab7c2b3.b7bff","type":"switch","z":"d6d5f307.86225","name":"Switching YouTube control","property":"app","propertyType":"flow","rules":[{"t":"eq","v":"YouTube","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":560,"wires":[["d81ab33f.78511"],["f6c4c3e4.ca80f"]]},{"id":"6d8ffe04.5b068","type":"switch","z":"d6d5f307.86225","name":"Switching Non-YouTube Control","property":"app","propertyType":"flow","rules":[{"t":"eq","v":"YouTube","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":620,"wires":[[],["f6c4c3e4.ca80f"]]},{"id":"dc27864d.2ce758","type":"castv2-connection","name":"","target":"","host":"192.168.0.5","port":"8009"},{"id":"84506ccb.a97fe","type":"ui_group","name":"Chromecast Control","tab":"affd889.0148e78","order":1,"disp":true,"width":"7","collapse":false},{"id":"affd889.0148e78","type":"ui_tab","name":"Media Control","icon":"dashboard","disabled":false,"hidden":false}]
